body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    width: 80%;
    height: 500px;
    margin: auto;
    border: 2px solid black;
}

.aircraft-icon {
    font-size: 20px;
    text-align: center;
}

.plane-icon img {
    display: block;
    margin: auto;
    transform-origin: center center;
}

